.idea
venv

.DS_Store
*.pyc

floodmaps
shakemaps
ashmaps
.coverage
/inasafe/
/deployment/docker-realtime/realtime-rest.env
/deployment/pycharm-helpers/*
docker-compose.override.yml
/deployment/ansible/development/group_vars/all
/deployment/ansible/development/group_vars/all.yml
/deployment/ansible/tmp/*
site.retry
!deployment/ansible/tmp/.gitkeep
!/deployment/ansible/development/roles/inasafe/tasks/main.yml
/src/realtime/*/tests/output/
/src/realtime/celeryconfig.py
